[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jsslintr"]
	path = jsslintr
	url = https://github.com/cran/jsslintr
[submodule "robustlmm"]
	path = robustlmm
	url = https://github.com/kollerma/robustlmm
